<template>
  <q-page class="bg-light-blue window-height window-width row justify-center items-center">
    <div class="column">
      <div class="row">
        <h5 class="text-h5 text-white q-my-md">Login</h5>
      </div>
      <div class="row">
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input square clearable v-model="logindata.email" type="email" label="Email" />
              <q-input square clearable v-model="logindata.password" type="password" label="Contraseña" />

            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn unelevated color="light-blue-7" @click.prevent="login()" size="lg" class="full-width" label="Login" />
          </q-card-actions>
          <q-card-section class="text-center q-pa-none">
            <p class="text-grey-6" @click ="registro()" >Crea una cuenta</p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
        logindata: {}
    }
  },
  mounted() {

  },
  methods: {
  login () {
    this.$axios.post("/login",this.logindata).then(() => {

    })
  },
  registro () {
    location.href = '/#/registro'
  },

}
}
</script>

<style>
.q-card {
  width: 360px;
}
</style>
