<template>
  <q-page class="bg-light-blue window-height window-width row justify-center items-center">
    <div class="column">
      <div class="row">
        <h5 class="text-h5 text-white q-my-md">Registro</h5>
      </div>
      <div class="row">
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input square clearable v-model="registrodata.nombre" type="text" label="Nombre" />
              <q-input square clearable v-model="registrodata.email" type="email" label="Email" />
              <q-input square clearable v-model="registrodata.fechanacimiento" type="date" label="Fecha de nacimiento" />
              <q-input square clearable v-model="registrodata.password" type="password" label="Contraseña" />
              <q-input square clearable v-model="registrodata.re_password" type="password" label="Confirmar contraseña" />
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn unelevated color="light-blue-7"  @click.prevent="registro()" size="lg" class="full-width" label="Registrarme" />
          </q-card-actions>
          <q-card-section class="text-center q-pa-none">
            <p class="text-grey-6" @click='login()' >Volver al login</p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'Registro',
  data () {
    return {
      registrodata: {}
    }
  },
  mounted() {
  },
  methods: {
    registro() {
        this.$axios.post("/registro", this.registrodata).then(() => {
          // location.href = '/'
        })
    },
    login () {
      location.href = '/'
    },
}
}
</script>

<style>
.q-card {
  width: 360px;
}
</style>
